
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(50, 167, 145);
}

#trybewarts-header-title {
  display: flex;
}

.trybewarts-login {
  display: flex;
}